@import "~common/stylus/mixin"

.classification{
  // width:100%;
  // height:100%;
  // overflow:scroll;
  // -webkit-overflow-scrolling : touch;
  // background:#f2f2f2;
  width:100%;
  height:100%;
  z-index:0;
  // padding-top:98px;
  // padding-bottom:50px;
  background:#f2f2f2;
  .goods-search-bg{
    position:fixed;
    width:100%;
    height:100%;
    background:#fff;
    z-index:75;
  }
  .goods-search{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:93px;
    background:#fff;
    z-index:100;
    .goods-search-content-box{
      borderbottom-1px($grey)
      .goods-search-content{
        margin:0 auto;
        width:calc(100% - 30px);
        height:50px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        overflow:hidden;
        .goods-search-input-contain{
          position:relative;
          width:100%;
          display:flex;
          justify-content:space-between;
          align-items:center;
          // transition: width .3s linear;
          .return-pic{
            extend-click()
            width:11px;
            height:20px;
            background-image:url(../../common/image/goods-show/back.png);
            background-position:center;
            background-size:100%;
            background-repeat:no-repeat;
          }
          .goods-search-input{
            width:100%;
            height:30px;
            border-radius:15px;
            background:#eaebed;
            padding:5px 0 5px 30px;
            font-size:13px;
            color:#999999;
            line-height:20px;
            background-image:url(../../common/image/goods-show/search.png);
            background-position:12px center;
            background-size:13px;
            background-repeat:no-repeat;
          }
          .goods-search-input-focus{
            width:calc(100% - 100px);
          }
          // .clear-btn{
          //   position:absolute;
          //   right:10px;
          //   top:6px;
          //   width:18px;
          //   height:18px;
          //   background-image:url(../../common/image/classification/close.png);
          //   background-position:center;
          //   background-size:18px;
          //   background-repeat:no-repeat;
          // }
          .search-btn{
            extend-click()
            width:70px;
            height:27px;
            line-height:27px;
            text-align:center;
            font-size:13px;
            color:#fff;
            background:$red;
            border-radius:13.5px;
          }
        }
      }
    }
    .goods-list{
      width:100%;
      height:42px;
      overflow-y: hidden;
      .goods-list-contain{
        height: 100%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 20px;
        .goods-list-box{
          height:42px;
          overflow-x:scroll;
          overflow-y:hidden;
          padding:9px 15px;
          .goods-item{
            float:left;
            width:96px;
            height:24px;
            .goods-item-content{
              display:inline-block;
              // width:60px;
              height:24px;
              text-align:center;
              line-height:20px;
              font-size:14px;
              color:#666666;
            }
            &:last-child{
              width:60px;
            }
            .goods-item-content-active{
              color:#000;
              font-weight:bold;
              border-bottom:2px solid #e51c23;
            }
          }
        }
      }
    }
  }
  .classification-item-bg{
    padding-top:98px;
    padding-bottom:50px;
    background:#f2f2f2;
    .classification-item{
      padding-top:23px;
      background:#fff;
      .goods-list{
        font-size:0;
        .goods-item{
          display:inline-block;
          // width:25%;
          width:33%;
          // &:nth-child(4n){
          //   margin-right:0;
          // }
          .goods-pic{
            margin:0 auto;
            // width:75px;
            // height:75px;
            width:86px;
            height:86px;
            background:#f2f2f2;
            border-radius:50%;
            background-position:center;
            // background-size:47px;
            background-size:60px;
            background-repeat:no-repeat;
          }
          .goods-text{
            text-align:center;
            height:30px;
            line-height:30px;
            margin-bottom:15px;
            font-size:13px;
          }
          .goods-pic1{
            background-image:url(../../common/image/classification/img19.png);
          }
          .goods-pic2{
            background-image:url(../../common/image/classification/img20.png);
          }
          .goods-pic3{
            background-image:url(../../common/image/classification/img21.png);
          }
          .goods-pic4{
            background-image:url(../../common/image/classification/img22.png);
          }
          .goods-pic5{
            background-image:url(../../common/image/classification/img23.png);
          }
          .goods-pic6{
            background-image:url(../../common/image/classification/img24.png);
          }
          .goods-pic7{
            background-image:url(../../common/image/classification/img25.png);
          }
          .goods-pic8{
            background-image:url(../../common/image/classification/img08.png);
          }
          .goods-pic9{
            background-image:url(../../common/image/classification/img09.png);
          }
          .goods-pic10{
            background-image:url(../../common/image/classification/img10.png);
          }
          .goods-pic11{
            background-image:url(../../common/image/classification/img11.png);
          }
          .goods-pic12{
            background-image:url(../../common/image/classification/img12.png);
          }
          .goods-pic13{
            background-image:url(../../common/image/classification/img13.png);
          }
          .goods-pic14{
            background-image:url(../../common/image/classification/img14.png);
          }
          .goods-pic15{
            background-image:url(../../common/image/classification/img15.png);
          }
          .goods-pic16{
            background-image:url(../../common/image/classification/img16.png);
          }
          .goods-pic17{
            background-image:url(../../common/image/classification/img17.png);
          }
          .goods-pic18{
            background-image:url(../../common/image/classification/img18.png);
          }
          .goods-pic19{
            background-image:url(../../common/image/classification/img31.png);
          }
          .goods-pic20{
            background-image:url(../../common/image/classification/img32.png);
          }
          .goods-pic21{
            background-image:url(../../common/image/classification/img33.png);
          }
          .goods-pic22{
            background-image:url(../../common/image/classification/img26.png);
          }
          .goods-pic23{
            background-image:url(../../common/image/classification/img27.png);
          }
          .goods-pic24{
            background-image:url(../../common/image/classification/img28.png);
          }
          .goods-pic25{
            background-image:url(../../common/image/classification/img29.png);
          }
          .goods-pic26{
            background-image:url(../../common/image/classification/img30.png);
          }
        }
      }
    }
  }
}