@import "~common/stylus/mixin"

.edit-delete:last-child{
  .user-select-item:after{
    border-top:none;
  }
}

.confirmation-order{
  position:absolute; 
  z-index:200;
  width:100%;
  // height:100%;
  background:#f2f2f2;
    // position:fixed;
    // top:0;
    // left:0;
    // right:0;
    // bottom:58px;
    // overflow-y:auto;
    // -webkit-overflow-scrolling:touch;
  .order-top{
    width:100%;
    padding:17px 15px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
    .order-top-center{
      width:100%;
      .order-top-center-top{
        width:calc(100% - 5px);
        padding-left:35px;
        height:40px;
        line-height:40px;
        font-size:16px;
        color:#000;
        .order-user-name{
          float:left;
          margin-right:23px;
        }
        .order-user-phone{
          float:left;
        }
      }
      .order-top-address-box{
        width:calc(100% - 5px);
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-bottom:10px;
        .order-top-center-bottom{
          padding-left:35px;
          min-height:21px;
          background-image:url(../../common/image/purchase/address.png);
          background-position:left center;
          background-size:18px 21px;
          background-repeat:no-repeat;
          margin-right:17px;
          line-height:18px;
          font-size:14px;
          color:#000;
        }
      }
    }
    .order-top-right{
      width:5px;
      height:9px;
      background-image:url(../../common/image/purchase/more.png);
      background-position:center;
      background-size:100%;
      background-repeat:no-repeat;
    }
  }
  .order-top-empty{
    width:100%;
    height:120px;
    line-height:120px;
    background:#fff;
    text-align:center;
    margin-bottom:8px;
    font-size:0;
    .empty-pic{
      width:23px;
      height:23px;
      vertical-align:middle;
      margin-right:5px;
    }
    .empty-text{
      font-size:14px;
      color:#000;
      vertical-align:middle;
    }
  }
  .goods-list-top{
    padding:0 15px;
    height:30px;
    line-height:30px;
    font-size:13px;
    color:#000;
    background:#fff;
  }
  .goods-list{
    .goods-item{
      width:100%;
      height:95px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding-left:15px;
      background:#fff;
      &:last-child{
        .goods-item-right:after{
          border-top:none;
        }
      }
    }
    .goods-item-pic{
      width:75px;
      height:75px;
      background-image:url(../../common/image/goods-show/img05.png);
      background-position:center;
      background-size:100%;
      background-repeat:no-repeat;
    }
    .goods-item-right{
      width:calc(100% - 90px);
      height:95px;
      padding:10px 15px 10px 0;
      display:flex;
      flex-direction: column;
      justify-content:space-between;
      borderbottom-1px($grey)
      .goods-item-text{
        width: 100%;
        font-size:13px;
        color:#000;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
      }
      .goods-item-bottom{
        display:flex;
        justify-content:space-between;
        align-items:center;
        .goods-item-price{
          font-size:16px;
          color:$red;
        }
        .goods-item-num-contain{
          display:flex;
          justify-content:space-between;
          align-items:center;
          .goods-item-num-contain-pic{
            width:6px;
            height:6px;
            background-image:url(../../common/image/purchase/quantity.png);
            background-position:center;
            background-size:100%;
            background-repeat:no-repeat;
            margin-top:1px;
            margin-right:2px;
          }
          .goods-item-num-contain-text{
            font-size:12px;
            color:#000;
          }
        }
      }
    }
  }
  .goods-price-box{
    bordertop-1px($grey)
    padding-bottom:58px;
    .goods-price-contain{
      width:100%;
      padding:10px 15px;
      background:#fff;
      text-align:right;
      .goods-price-total{
        width:100%;
        .goods-price-total-left{
          font-size:12px;
          color:#000;
        }
        .goods-price-total-text{
          display:inline-block;
          width:60px;
          font-size:14px;
          color:$red;;
        }
      }
      .goods-freight{
        idth:100%;
        .goods-price-total-left{
          font-size:12px;
          color:#000;
        }
        .goods-price-total-text{
          display:inline-block;
          width:60px;
          font-size:14px;
          color:$red;;
        }
      }
    }
  }
  .order-footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:50px;
    background:#fff;
    .pay{
      float:right;
      width:125px;
      height:50px;
      text-align:center;
      line-height:50px;
      background:$red;
      color:#fff;
      font-size:16px;
      margin-left:10px;
    }
    .order-footer-price{
      float:right;
      line-height:50px;
      font-size:16px;
      color:$red;
    }
    .order-footer-text{
      float:right;
      line-height:50px;
      font-size:13px;
      color:#000;
    }
  }
  .user-select-mask-bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    z-index:99;
  }
  .user-select-mask-contain{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    z-index:100;
    .user-select-mask{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:440px;
      background:#fff;
      z-index:100;
      transform: translate3d(0, -100%, 0)
      .user-select-mask-top{
        borderbottom-1px($grey)
        width:100%;
        height:40px;
        padding:0 30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        .close-btn{
          extend-click()
          width:11px;
          height:11px;
          background-image:url(../../common/image/purchase/close.png);
          background-position:center;
          background-size:100%;
          background-repeat:no-repeat;
        }
        .user-select-mask-title{
          font-size:16px;
          color:#000;
        }
        .add-dress-btn{
          extend-click()
          font-size:13px;
          color:$red;
        }
      }
      .user-select-list{
        width:100%;
        max-height:400px;
        overflow-y:auto;
        -webkit-overflow-scrolling:touch;
        .user-select-item{
          borderbottom-1px($grey)
          width:100%;
          height:110px;
          padding:17px 15px;
          background:#fff;
          display:flex;
          justify-content:space-between;
          align-items:center;
          margin-bottom:8px;
          .user-select-item-left[type=radio]{
            extend-click()
            width:18px;
            height:18px;
            // background-image:url(../../common/image/purchase/check.png);
            background-position:center;
            background-size:100%;
            background-repeat:no-repeat;
            background-color:#fff;
          }
          .user-select-item-left[type=radio]:checked{
            background-image:url(../../common/image/purchase/check2.png);
          }
          .user-select-item-center{
            width:calc(100% - 18px);
            .user-select-item-center-top{
              width:calc(100% - 5px);
              padding-left:17px;
              height:40px;
              line-height:40px;
              font-size:16px;
              color:#000;
              .user-select-item-name{
                float:left;
                margin-right:23px;
              }
              .user-select-item-phone{
                float:left;
              }
            }
            .user-select-item-address-box{
              width:calc(100% - 5px);
              display:flex;
              justify-content:space-between;
              align-items:center;
              margin-bottom:10px;
              .user-select-item-center-bottom{
                padding-left:17px;
                margin-right:17px;
                line-height:18px;
                font-size:14px;
                color:#000;
              }
            }
          }
        }
      }
    }
  }
}