@import "~common/stylus/mixin"

.order-detail{
  position:absolute; 
  z-index:200;
  width:100%;
  height:100%;
  background:#f2f2f2;
  .order-detail-top{
    position:fixed;
    width:100%;
    height:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:$yellow;
    z-index:210;
    .order-detail-top-left{

      .order-detail-top-left-pic{
        display:inline-block;
        width:20px;
        height:20px;
        background:#ccc;
        vertical-align:middle;
      }
      .order-detail-top-left-text{
        display:inline-block;
        vertical-align:middle;
      }
    }
    .order-detail-continue{

    }
  }
  .order-detail-state-contain{
    background:#fff;
    margin-top:40px;
    margin-bottom:10px;
    .order-detail-state{

    }
    .order-detail-time{

    }
    .order-detail-overseas{

    }
  }
  .order-top{
    width:100%;
    height:80px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    .order-top-left{
      width:20px;
      height:20px;
      background:#ccc;
    }
    .order-top-center{
      .order-top-center-top{
        .order-user-name{
          float:left;
        }
        .order-user-phone{
          float:left;
        }
      }
      .order-top-center-bottom{

      }
    }
  }
  .goods-imformation{
    background:#fff;
    margin-bottom:10px;
    .goods-imformation-top{

    }
  }
  .order-price-contain{
    display:flex;
    justify-content:space-between;
    align-items:center;
    .order-price-left{

    }
    .order-price{

    }
  }
  .order-freight-contain{
    display:flex;
    justify-content:space-between;
    align-items:center;
    .order-freight-left{

    }
    .order-freight{

    }
  }
  .order-totalprice-contain{
    text-align:right;
  }
  .order-num-contain{
    display:flex;
    justify-content:space-between;
    align-items:center;
    .order-num-contain-left{

    }
    .order-num-contain-copy{

    }
  }
  .pay-order-refund-contain{
    .pay-order-refund-time{

    }
    .pay-order-refund-money{

    }
  }
  .goods-imformation-btn-bar{
    position:fixed;
    left:0;
    bottom:0;
    z-index:210;
    width:100%;
    height:40px;
    background:#fff;
  }
}