@import "~common/stylus/mixin"

.make-money{
  position:absolute; 
  width:100%;
  z-index:0;
  padding-bottom:50px;
  background:#f2f2f2;
  .profit-list-top{
  	width:100%;
  }
  .prifit-list-contain{
  	position:relative;
  	width:100%;
  	height:363px;
  	.prifit-list-header{
  		position:absolute;
  		left:0;
  		right:0;
  		top:-20px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:40px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		flex-between();
  		text-align:center;
  		font-size:14px;
  		color:#000;
  		.prifit-list-header-left{
  			width:25%;
  		}
  		.prifit-list-header-center{
  			width:39%;
  		}
  		.prifit-list-header-right{
  			width:35%;
  		}
  	}
  	.prifit-list-content{
  		position:absolute;
  		left:0;
  		right:0;
  		top:25px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:338px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		padding-top:13px;
  		overflow:scroll;
			-webkit-overflow-scrolling:touch; 
			.prifit-item{
				width:100%;
				height:40px;
				text-align:center;
	  		font-size:14px;
	  		color:#000;
				flex-between();
				.prifit-item-left{
					width:25%;
					height:40px;
					line-height:40px;
					font-size:16px;
				}
				.prifit-item-center{
					width:39%;
				}
				.prifit-item-right{
					width:35%;
					color:$red;
					font-size:16px;
				}
				&:nth-child(1){
					.prifit-item-left{
						bg('../../common/image/prifit-list/first.png')
						background-size:23px 25px;
					}
				}
				&:nth-child(2){
					.prifit-item-left{
						bg('../../common/image/prifit-list/second.png')
						background-size:23px 25px;
					}
				}
				&:nth-child(3){
					.prifit-item-left{
						bg('../../common/image/prifit-list/third.png')
						background-size:23px 25px;
					}
				}
			}
  	}
  	.prifit-list-footer{
  		position:absolute;
  		left:0;
  		right:0;
  		top:371px;
  		margin:auto;
  		width:calc(100% - 30px);
  		height:40px;
  		background:#fff;
  		border-radius:3px;
  		z-index:100;
  		padding:0 30px;
  		line-height:40px;
      flex-between();  
      .prifit-list-footer-left{        
    		.prifit-list-footer-text{
    			font-size:14px;
    			color:#000;
    		}
    		.prifit-list-money{
    			font-size:16px;
    			color:$red;
    		}
    		.prifit-list-footer-moneytext{
    			font-size:14px;
    			color:$red;
    		}
      }
      .prifit-list-footer-right{
        opacity:.6;
        .prifit-list-footer-text{
          font-size:14px;
          color:#000;
        }
        .prifit-list-money{
          font-size:16px;
          color:$red;
        }
        .prifit-list-footer-moneytext{
          font-size:14px;
          color:$red;
        }
      }
  	}
  	.prifit-list-detail-link{
  		position:absolute;
  		right:15px;
  		bottom:0;
  		height:32px;
  		line-height:32px;
  		color:$red;
  		font-size:12px;
  		.prifit-list-detail-link-text{
  			vertical-align:middle;
  			margin-right:4px;
  		}
  		.prifit-list-detail-link-pic{
  			display:inline-block;
  			width:5px;
  			height:9px;
  			bg('../../common/image/prifit-list/link.png');
  			vertical-align:middle;
  		}
  	}
  }
  .make-money-btn{
  	margin:25px auto;
  	width:150px;
  	height:40px;
  	font-size:16px;
  	color:#fff;
  	text-align:center;
  	line-height:40px;
  	border-radius:3px;
  	background:$red;
  }
  .introduction-list{
  	width:100%;
  	padding:10px 15px 15px;
  	.introduction-item{
  		width:100%;
  		margin-bottom:10px;
      .introduction-item-top{
      	width:100%;
      	line-height:35px;
      	color:#000;
      	.introduction-item-top-left{
      		font-size:19px;
      		font-weight:bold;
      	}
      	.introduction-item-top-right{
      		font-size:16px;
      		font-weight:bold;
      	}
      }
      .introduction-item-bottom{
      	padding:15px;
      	font-size:13px;
      	color:#333333;
      	line-height:20px;
      	background:#fff;
      	border-radius:3px;
      	.step-list{
      		width:100%;
      		.step-item{
      			width:100%;
      			margin-bottom:20px;
      			.step-item-left{
      				float:left;
      				width:54px;
      				height:25px;
      				bg('../../common/image/rule/step-bg.png');
      				.step-item-left-text{
      					width:51px;
      					height:25px;
      					line-height:25px;
      					font-size:13px;
      					color:#000;
      					text-align:center;
      				}
      			}
      			.step-item-right{
      				float:right;
      				width:calc(100% - 70px);
      				margin-top:-4px;
      				.erweima{
      					width:100px;
      				}
      			}
      		}
      	}
      }
  	}
  }
  .bottom-btn{
  	margin:0 auto 25px;
  	width:180px;
  	height:40px;
  	background:$red;
  	color:#fff;
  	font-size:16px;
  	text-align:center;
  	line-height:40px;
  	border-radius:3px;
  }
  .erweima-popup-contain{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:200;
    background:rgba(0,0,0,.7);
    .erweima-popup-box{
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      width:280px;
      height:302px;
      background:#fff;
      border-radius:4px;
      .erweima-popup-content{
        position:relative;
        width:100%;
        height:302px;
        text-align:center;
        padding-top:26px;
        .close-btn{
          extend-click()
          position:absolute;
          right:15px;
          top:15px;
          width:11px;
          height:11px;
          bg('../../common/image/make-money/close.png');
        }
        .erweima-popup-content-top{
          font-size:16px;
          color:#000;
          height:54px;
          line-height:54px;
          font-weight:bold;
        }
        .erweima-popup-content-erweima{
          width:173px;
          height:173px;
        }
        .erweima-popup-content-bottom{
          font-size:14px;
          color:#000;
          height:43px;
          line-height:43px;
        }
      }
    }
  }
}