@import "~common/stylus/mixin"

.btn-bar{
  padding:7px 15px;
  .submit-btn{
    float:right;
    width:70px;
    height:27px;
    text-align:center;
    line-height:27px;
    border:1px solid $red;
    border-radius:2px;
    font-size:14px;
    color:$red;
    margin-left:10px;
  }
  .cancel-btn{
    float:right;
    width:70px;
    height:27px;
    text-align:center;
    line-height:27px;
    border:1px solid #999;
    border-radius:2px;
    font-size:14px;
    color:#666666;
    margin-left:10px;
  }
  .see-btn{
    float:right;
    width:70px;
    height:27px;
    text-align:center;
    line-height:27px;
    border:1px solid $red;
    border-radius:2px;
    font-size:14px;
    color:$red;
    margin-left:10px;
  }
}