@import "~common/stylus/mixin"

.transaction-detail{
  position:absolute;
  z-index:200;
  width:100%;
  height:100%;
  background:#f2f2f2;
  text-align:center;
  .transaction-detail-contain{
    width:100%;
    background:#fff;
    padding-top:38px;
    padding-bottom:33px;
    font-size:0;
    .transaction-detail-pic{
      width:38px;
      height:38px;
    }
    .transaction-detail-text{
      font-size:18px;
      color:#000;
      height:40px;
      line-height:40px;
      margin-bottom:35px;
    }
    .btn-contain{
      margin:0 auto;
      width:215px;
      height:30px;
      line-height:30px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      .btn-left{
        font-size:13px;
        color:$red;
        width:100px;
        height:30px;
        text-align:center;
        line-height:30px;
        border:1px solid $red;
        border-radius:2px;
      }
      .btn-right{
        font-size:13px;
        color:$red;
        width:100px;
        height:30px;
        text-align:center;
        line-height:30px;
        border:1px solid $red;
        border-radius:2px;
      }
    }
  }
}