@import "~common/stylus/mixin"

.goods-item{
  width:100%;
  height:80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fafafa;
  padding:0 15px;
  margin-bottom:3px;
  &:last-child{
    margin-bottom:0;
  }
  .goods-item-pic{
    width:60px;
    height:60px;
    background-image:url(../../common/image/order/img40.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  .goods-item-right{
    width:calc(100% - 70px);
    height:58px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    .goods-item-text{
      font-size:13px;
      color:#000;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
    }
    .goods-item-bottom{
      display:flex;
      justify-content:space-between;
      align-items:center;
      .goods-item-price{
        font-size:14px;
        color:$red;
      }
      .goods-item-num{
        font-size:12px;
        color:#333333;
        vertical-align:middle;
        .goods-item-num-pic{
          width:6px;
          height:6px;
          vertical-align:middle;
          margin-right:2px;
        }
      }
    }
  }
}