@import "~common/stylus/mixin"

.evaluate-goods-detail{
  position:absolute; 
  z-index:300;
  width:100%;
  background:#f2f2f2;
  .evaluate-goods-detail-header{
    position:fixed;
    left:0;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:30px;
    z-index:100;
    background:#f2f2f2;
    padding:0 15px;
    .evaluate-goods-detail-header-left{
      font-size:13px;
      color:#666666;
    }
    .evaluate-goods-detail-header-right{
      font-size:13px;
      color:$red;
    }
  }
  .evaluate-goods-list{
    margin-top:30px;
  }
}