@import "~common/stylus/mixin"

.evaluate-goods-item{
  margin:0 auto;
  width:100%;
  background:#fff;
  padding:0 15px;
  &:last-child{
    .evaluate-content:after{
      border-top:none;
    }
  }
  .evaluate-content{
    width:100%;
    padding:15px 0;
    borderbottom-1px($grey)
    // &:first-child{
    //   padding-top:0;
    // }
    .evaluate-center-top{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:8px;
      .evaluate-center-name{
        font-size:12px;
        color:#666666;
      }
      .evaluate-center-time{
        font-size:12px;
        color:#666666;
      }
    }
    .evaluate-center-text{
      line-height:18px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // -webkit-box-orient: vertical;
      // display: -webkit-box;
      // -webkit-line-clamp: 2;
      font-size:13px;
      color:#000;
    }
    .evaluate-center-pic-list{
      padding:6px 0
      .evaluate-center-pic-item{
        float:left;
        width:50px;
        height:50px;
        background-image:url(../../common/image/goods-detail/img36.png);
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        margin-right:8px;
      }
    }
  }
}