@import "~common/stylus/mixin"

.find{
  position:absolute; 
  // overflow:scroll; 
  // -webkit-overflow-scrolling: touch; 
  // top:0; 
  // left:0; 
  // bottom:0; 
  // right:0;
  // background:#f2f2f2;
  // z-index:0;
  width:100%;
  // height:100%;
  z-index:0;
  padding-bottom:50px;
  background:#f2f2f2;
  // .artical-item{
  //   width:100%;
  //   display:flex;
  //   justify-content:space-between;
  //   align-items:center;
  //   background:#fff;
  //   margin-bottom:10px;
  //   .artical-item-left{
  //     width:calc(100% - 130px);
  //     .artical-item-left-top{
  //       height:80px;
  //     }
  //     .artical-item-left-bottom{
  //       display:flex;
  //       justify-content:space-between;
  //       align-items:center;
  //       .artical-item-time{

  //       }
  //       .artical-item-num{

  //       }
  //     }
  //   }
  //   .artical-item-right{
  //     width:130px;
  //     height:100px;
  //     background:#fcf;
  //   }
  // }
}